# Developer Notes
devNotes.txt

# Openzeppelin Library
node_modules

# Compilation artifacts
build

# Truffle Configuration
truffle-config.js

# Secret Mnemonics and NodeURL
secret.json

# Off Chain Server Configuration
server-config.js